:8002 {
    log {
        output stdout
        format filter {
            wrap json
            fields {
                common_log delete
                request>headers delete
                resp_headers delete
                tls delete
            }
        }
    }
    {% for domain, theme in iter_domains(GROVE_ADDITIONAL_DOMAINS, MFE_HOST, GROVE_COMPREHENSIVE_THEME_BRAND_PACKAGE_NAME) %}
    {% for app_name, app in iter_mfes() %}
    @mfe_{{ app_name }}_{{ domain }} {
        host {{ domain }}
        path /{{ app_name }} /{{ app_name }}/*
    }
    handle @mfe_{{ app_name }}_{{ domain }} {
        uri strip_prefix /{{ app_name }}
        root * /openedx/dist/{{ app_name }}-{{ domain }}
        try_files /{path} /index.html
        file_server
    }
    {% endfor %}
    {% endfor %}
}
