{{ MFE_HOST }}{% if not ENABLE_HTTPS %}:80{% endif %} {
    handle / {
        respond 204
    }
    {% for plugin, mfe in iter_data_patches("mfe") %}
    # {{ plugin }}
    handle {{ mfe.public_path }}/* {
        reverse_proxy {{ mfe.service_name }}:{{ mfe.service_port }}
    }
    {% endfor %}
}